.h2{
    padding: 20px 50px;
    background: #282727;
    color: white;
    font-size: 44px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin: 0;
}
.flexDiv{
    align-items: center;
    margin: 10px 15%;
    display: flex;
    gap: 20%;
}
.imgWrapper{

}
.h5{
    font-size: 34px;
    font-weight: 100;
    font-family: "Oswald", sans-serif;
}
.h3{
    font-size: 44px;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    margin-bottom: 20%;
}
.boldSpan{
    font-weight: normal;
}
.categorySpan{
    margin: 20px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    cursor: pointer;
}
.categorySpan:hover{
    color: black;
}
.activeSpan{
    color: red;
}
.achievments{
    margin: 10px 7%;
}
.achievImage{
    width: 150px;
    height: 150px;
}
.achievName{
    font-size: 20px;
    text-align: center;
    color: #00D63C;
}
.achievDesc{
    font-size: 14px;
    text-align: center;
}
.achievImageGray{
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    opacity: 0.3;
}
.achievNameGray{
    font-size: 20px;
    text-align: center;
    color: gray;
}
.userMuscles{

}
.invisible{
    display: none!important;
}
.button{
    padding: 5px 50px;
    font-size: 34px;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: #00D63C;
    color: white;
    border-radius: 30px;
}
.button:hover{
    transform: scale(1.05);
    transition: 0.5s all ease;
}
.red{
    background: red;
}
.muscleName{
    color: #4d4c4c;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 28px;
}
.muscleName:hover{
    font-size: 34px;
    color: black;
    transition: 0.5s all ease;
}
.imgWrapperDiv{
    display: none;
}

.image{
    position: fixed;
    width: 400px;
    height: 400px;
}
.link>div{
    display: none;
}
.link:hover>div{
    display: block;
}
.achievmentWrap:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.7s all ease;
}