.wrapper{
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}
.img{
    width: 500px;
    height: 300px;
}
.efficiencyWrapper{
    display: flex;
    justify-content: space-evenly;
}
.workoutName{
    text-align: center;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 4vh;
    color: black;
}
.p{
    font-size: 26px;
    font-family: "Oswald", sans-serif;
}
.p span{
    color: red;
}