.wrapper{
    margin: 0 7%;
    display: flex;
    align-items: center;
    gap: 20%;
}
.logo{
    width: 10%;
}
.linksWrapper{
    display: grid;
    grid-template-columns: repeat(5, fit-content(100%));
    grid-gap: 17%;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
    font-family: "Oswald", sans-serif;
    white-space: nowrap;
}
.linkActive{
    text-decoration: none;
    color: red;
    font-size: 1.8vw;
    font-family: "Oswald", sans-serif;
    white-space: nowrap;
}